@import url(../utilities/global.css);
.btn_padrao {
    background-color: var(--secundary-blue);
    padding: 16px;
    /* border-radius: 12px; */
    z-index: 9999;
    color: var(--white2);
    text-decoration: none;
    font-family: var(--font-greenmkt);
    height: fit-content;
    min-height: 20px;
}

.btn_padrao-2 {
    position: relative;
    background-color: var(--secundary-blue);
    padding: 16px;
    border-radius: 12px;
    z-index: 9999;
    color: var(--white2);
    border: 2px solid var(--white2);
    box-shadow: 5px 5px 0px var(--white2);
    text-decoration: none;
    font-family: var(--font-greenmkt);
    font-weight: bold;
    transition: .3s;
    max-height: 50px;
}

.btn_padrao-2:hover {
    box-shadow: none;
}

.btn_padrao-3-r_logout,
.btn_padrao-3-r,
.btn_padrao-3 {
    background-color: var(--white);
    padding: 6px 12px;
    border: 2px solid var(--secundary-blue);
    text-decoration: none;
    font-family: var(--font-greenmkt);
    color: var(--black);
    font-size: var(--h8);
    cursor: pointer;
}

.btn_padrao-3-r_logout,
.btn_padrao-3-r {
    border-radius: 16px;
}

.btn_padrao-3-r:hover,
.btn_padrao-3:hover {
    background-color: var(--secundary-blue);
    color: var(--white);
}

/* Logout - btn3 */
.btn_padrao-3-r_logout {
    color: var(--color-red);
    border: 2px solid var(--color-red);
}

.btn_padrao-3-r_logout:hover {
    background-color: var(--color-red);
    color: var(--white);
}