@import url(../utilities/global.css);
@import url(../components/animation_error.css);

.input_default {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.input_default label {
    text-align: start;
    color: var(--black);
    font-family: var(--font-mermaid);
}

.input_default label span {
    color: red;
}

.input_default input, select {
    padding: 12px;
    width: 250px;
    border-radius: 12px;
    border: 1px solid black;
    outline: none;
    transition: .3s;
}

.input_default input:focus {
    border: 1px solid var(--secundary-blue);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

/* Span - Erro */
.text_err {
    color: red;
    font-size: 14px;
    margin-top: 2px;
    width: 250px;
}

/* Inputs Submit + Terms */
.container_submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.container_terms {
    display: flex;
    gap: 8px;
}

.container_terms p {
    font-size: 12px;
}

.btn_padrao {
    border: none;
    border-radius: 0 !important;
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

/* BTN - Radio */
/* From Uiverse.io by WrongCodeU */ 
/* Hide the default checkbox */
.container_btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container_btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 0.2pc;
    box-shadow: 3px 3px grey;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container_btn input:checked ~ .checkmark {
    background-color: var(--secundary-blue);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container_btn input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container_btn .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }