:root {
    --color-red: #FF0000;
    /* Azul */
    --primary-blue: #14248a;
    --secundary-blue: #1B98E0;
    /* Verde */
    --green-pastel: #ACF7C1;
    /* Cinza */
    --low-gray: #E8F1F2;
    --low-black: #191A1A;
    --gray: #545454;

    --white: #ffffff;
    --black: #000000;

    --white2: #ffffff;
    --black2: #000000;

    /* Fonts-sizes */
    --h1: 64px;
    --h2: 48px;
    --h3: 40px;
    --h4: 36px;
    --h5: 32px;
    --h6: 24px;
    --h7: 20px;
    --h8: 16px;

    --size-body: 18px;
}